USE [PlataformaEventos]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 6/10/2026 11:25:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 6/10/2026 11:25:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[id_evento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[descripcion] [varchar](300) NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[id_categoria] [int] NOT NULL,
	[id_lugar] [int] NOT NULL,
	[id_organizador] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscripciones]    Script Date: 6/10/2026 11:25:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripciones](
	[id_inscripcion] [int] IDENTITY(1,1) NOT NULL,
	[fecha_inscripcion] [date] NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[id_participante] [int] NOT NULL,
	[id_evento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_inscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lugares]    Script Date: 6/10/2026 11:25:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lugares](
	[id_lugar] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[ciudad] [varchar](100) NOT NULL,
	[capacidad] [int] NOT NULL,
	[direccion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lugar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizadores]    Script Date: 6/10/2026 11:25:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizadores](
	[id_organizador] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_organizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 6/10/2026 11:25:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[fecha_pago] [date] NOT NULL,
	[valor] [decimal](10, 2) NOT NULL,
	[metodo_pago] [varchar](50) NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[id_inscripcion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participantes]    Script Date: 6/10/2026 11:25:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participantes](
	[id_participante] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[documento] [varchar](20) NOT NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_participante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inscripciones] ADD  DEFAULT (getdate()) FOR [fecha_inscripcion]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (getdate()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Evento_Categoria]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Lugar] FOREIGN KEY([id_lugar])
REFERENCES [dbo].[Lugares] ([id_lugar])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Evento_Lugar]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Organizador] FOREIGN KEY([id_organizador])
REFERENCES [dbo].[Organizadores] ([id_organizador])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Evento_Organizador]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Evento] FOREIGN KEY([id_evento])
REFERENCES [dbo].[Eventos] ([id_evento])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [FK_Inscripcion_Evento]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Participante] FOREIGN KEY([id_participante])
REFERENCES [dbo].[Participantes] ([id_participante])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [FK_Inscripcion_Participante]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Inscripcion] FOREIGN KEY([id_inscripcion])
REFERENCES [dbo].[Inscripciones] ([id_inscripcion])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pago_Inscripcion]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarEvento]    Script Date: 6/10/2026 11:25:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Reto 1: Detalle del Evento (sp_BuscarEvento)
CREATE PROCEDURE [dbo].[sp_BuscarEvento]
    @id_evento INT
AS
BEGIN
    SELECT 
        e.nombre AS Evento,
        e.fecha,
        e.hora,
        e.precio,
        l.nombre AS Lugar,
        c.nombre AS Categoria
    FROM Eventos e
    INNER JOIN Lugares l ON e.id_lugar = l.id_lugar
    INNER JOIN Categorias c ON e.id_categoria = c.id_categoria
    WHERE e.id_evento = @id_evento;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarEventosCategoria]    Script Date: 6/10/2026 11:25:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Procedimientos Almacenados Solicitados y Retos

-- Procedimiento 1: Buscar Eventos por Categoría
CREATE PROCEDURE [dbo].[sp_BuscarEventosCategoria]
    @id_categoria INT
AS
BEGIN
    SELECT * 
    FROM Eventos 
    WHERE id_categoria = @id_categoria;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_CalcularRecaudoEvento]    Script Date: 6/10/2026 11:25:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Reto 3: Calcular Recaudo de Evento (sp_CalcularRecaudoEvento)
CREATE PROCEDURE [dbo].[sp_CalcularRecaudoEvento]
    @id_evento INT,
    @recaudo DECIMAL(10,2) OUTPUT
AS
BEGIN
    DECLARE @precio DECIMAL(10,2);
    DECLARE @inscritos INT;

    SELECT @precio = precio 
    FROM Eventos 
    WHERE id_evento = @id_evento;

    SELECT @inscritos = COUNT(*) 
    FROM Inscripciones 
    WHERE id_evento = @id_evento;

    SET @recaudo = ISNULL(@inscritos, 0) * ISNULL(@precio, 0);
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_CantidadEventos]    Script Date: 6/10/2026 11:25:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento 2: Cantidad Total de Eventos
CREATE PROCEDURE [dbo].[sp_CantidadEventos]
    @cantidad INT OUTPUT
AS
BEGIN
    SELECT @cantidad = COUNT(*) 
    FROM Eventos;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ContarInscritos]    Script Date: 6/10/2026 11:25:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento 3: Contar Inscritos por Evento
CREATE PROCEDURE [dbo].[sp_ContarInscritos]
    @id_evento INT,
    @cantidad INT OUTPUT
AS
BEGIN
    SELECT @cantidad = COUNT(*) 
    FROM Inscripciones 
    WHERE id_evento = @id_evento;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TotalParticipantes]    Script Date: 6/10/2026 11:25:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Reto 2: Total de Participantes Registrados (sp_TotalParticipantes)
CREATE PROCEDURE [dbo].[sp_TotalParticipantes]
    @total INT OUTPUT
AS
BEGIN
    SELECT @total = COUNT(*) 
    FROM Participantes;
END;

GO
